In [149]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import tensorflow_decision_forests as tfdf
from sklearn.model_selection import train_test_split

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [150]:
train_data = pd.read_csv("/kaggle/input/spaceship-titanic/train.csv")
train_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [151]:
test_data = pd.read_csv("/kaggle/input/spaceship-titanic/test.csv")
test_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [152]:
samp = pd.read_csv("/kaggle/input/spaceship-titanic/sample_submission.csv")
samp.head()

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

In [153]:
counts = train_data['Transported'].value_counts()
print("Counts:\n", counts)
freqs = train_data['Transported'].value_counts(normalize=True)
print("\nPercentages:\n", freqs * 100)

Counts:
 Transported
True     4378
False    4315
Name: count, dtype: int64

Percentages:
 Transported
True     50.362361
False    49.637639
Name: proportion, dtype: float64

In [154]:
#seeing if we have any missing data.
missing_counts = train_data.isnull().sum().sort_values(ascending=False)
missing_counts

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Name            200
Cabin           199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
PassengerId       0
Transported       0
dtype: int64

In [155]:
def preprocess_data(data):
    data = data.copy() #just getting a copy
    def normalize_name(x):
        if pd.isna(x):
            return "Unknown"
        parts = str(x).split()
        return " ".join(p.strip(' ,()."\'') for p in parts)

    def get_title(x):
        if pd.isna(x):
            return "Unknown"
        m = re.search(r",\s*([^\.]+)\.", x)
        return m.group(1).strip() if m else "Unknown"

    data["Name"] = data["Name"].apply(normalize_name)

    cabin_split = (
        data["Cabin"]
          .fillna("Unknown/0/X") # placeholder for missing cabins
          .astype(str)
          .str.split("/", expand=True)
    )
    cabin_split.columns = ["Deck", "CabinNum", "Side"]
    cabin_split["CabinNum"] = pd.to_numeric(cabin_split["CabinNum"], errors="coerce")
    data = pd.concat([data, cabin_split], axis=1)

    
    return data

In [156]:
prep_train = preprocess_data(train_data)
prep_test = preprocess_data(test_data)

prep_train.drop(columns=["Cabin"], inplace=True)
prep_test.drop(columns=["Cabin"], inplace=True)
#now maybe try to one hot encode cryosleep and VIP
def ohe_data(data):
    data["CryoSleep"] = data["CryoSleep"].map({True:1, False:0})
    data["VIP"]       = data["VIP"].map({True:1, False:0})
    return data
ohe_train = ohe_data(prep_train)
ohe_test = ohe_data(prep_test)
ohe_train["Transported"] = ohe_train["Transported"].map({True:1, False:0})
ohe_train.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,CabinNum,Side
0,0001_01,Europa,0.0,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0,B,0,P
1,0002_01,Earth,0.0,TRAPPIST-1e,24.0,0.0,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,F,0,S
2,0003_01,Europa,0.0,TRAPPIST-1e,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0,A,0,S
3,0003_02,Europa,0.0,TRAPPIST-1e,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0,A,0,S
4,0004_01,Earth,0.0,TRAPPIST-1e,16.0,0.0,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,F,1,S

In [158]:
#need to split CV set and normal training set!
train_df, val_df = train_test_split(
    ohe_train, 
    test_size=0.2, 
    random_state=42, 
    stratify=ohe_train["Transported"]
)
FEATURE_COLUMNS = [
    c for c in ohe_train.columns
    if c not in ["PassengerId", "Name", "Transported"]
]

def make_tf_dataset(df, label=True):
    #makes a tf ds that tf can train on
    if label:
        return tfdf.keras.pd_dataframe_to_tf_dataset(
            df[FEATURE_COLUMNS + ["Transported"]],
            label="Transported",
            task=tfdf.keras.Task.CLASSIFICATION
        )
    else:
        return tfdf.keras.pd_dataframe_to_tf_dataset(
            df[FEATURE_COLUMNS],
            label=None
        )

train_ds = make_tf_dataset(train_df, label=True) 
val_ds   = make_tf_dataset(val_df,   label=True) 
test_ds  = make_tf_dataset(ohe_test,  label=False)


model = tfdf.keras.GradientBoostedTreesModel(
    features=[tfdf.keras.FeatureUsage(name=f) for f in FEATURE_COLUMNS],
    num_trees=200,
    max_depth=6,
    shrinkage=0.1,
    random_seed=42
)

model.fit(train_ds)
eval_dict = model.evaluate(val_ds, return_dict=True)

Use /tmp/tmph0_ro_17 as temporary training directory
Reading training dataset...

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

Training dataset read in 0:00:00.360568. Found 6954 examples.
Training model...

I0000 00:00:1750635400.968088      35 kernel.cc:782] Start Yggdrasil model training
I0000 00:00:1750635400.968124      35 kernel.cc:783] Collect training examples
I0000 00:00:1750635400.968137      35 kernel.cc:795] Dataspec guide:
column_guides {
  column_name_pattern: "^__LABEL$"
  type: CATEGORICAL
  categorial {
    min_vocab_frequency: 0
    max_vocab_count: -1
  }
}
column_guides {
  column_name_pattern: "^HomePlanet$"
}
column_guides {
  column_name_pattern: "^CryoSleep$"
}
column_guides {
  column_name_pattern: "^Destination$"
}
column_guides {
  column_name_pattern: "^Age$"
}
column_guides {
  column_name_pattern: "^VIP$"
}
column_guides {
  column_name_pattern: "^RoomService$"
}
column_guides {
  column_name_pattern: "^FoodCourt$"
}
column_guides {
  column_name_pattern: "^ShoppingMall$"
}
column_guides {
  column_name_pattern: "^Spa$"
}
column_guides {
  column_name_pattern: "^VRDeck$"
}
column_guides {
  column_name_pattern: "^Deck$"
}
column_guides {
  column_name_pattern: "^CabinNum$"
}
column_guides {
  column_name_pattern: "^Side$"
}
default_column_guide {
  categorial {
    max_vocab_count: 2000
  }
  discretized_numerical {
    maximum_num_bins: 255
  }
}
ignore_columns_without_guides: false
detect_numerical_as_discretized_numerical: false

I0000 00:00:1750635400.968868      35 kernel.cc:401] Number of batches: 7
I0000 00:00:1750635400.968890      35 kernel.cc:402] Number of examples: 6954
I0000 00:00:1750635400.970598      35 data_spec_inference.cc:354] 1 item(s) have been pruned (i.e. they are considered out of dictionary) for the column Deck (8 item(s) left) because min_value_count=5 and max_number_of_unique_values=2000
I0000 00:00:1750635400.971962      35 kernel.cc:802] Training dataset:
Number of records: 6954
Number of columns: 14

Number of columns by type:
	NUMERICAL: 9 (64.2857%)
	CATEGORICAL: 5 (35.7143%)

Columns:

NUMERICAL: 9 (64.2857%)
	0: "Age" NUMERICAL num-nas:139 (1.99885%) mean:28.6838 min:0 max:79 sd:14.4964
	1: "CabinNum" NUMERICAL mean:584.168 min:0 max:1893 sd:512.667
	2: "CryoSleep" NUMERICAL num-nas:168 (2.41588%) mean:0.358974 min:0 max:1 sd:0.4797
	5: "FoodCourt" NUMERICAL num-nas:154 (2.21455%) mean:452.611 min:0 max:29813 sd:1602.35
	7: "RoomService" NUMERICAL num-nas:145 (2.08513%) mean:230.15 min:0 max:14327 sd:676.288
	8: "ShoppingMall" NUMERICAL num-nas:169 (2.43026%) mean:170.034 min:0 max:12253 sd:548.713
	10: "Spa" NUMERICAL num-nas:150 (2.15703%) mean:308.868 min:0 max:22408 sd:1142.03
	11: "VIP" NUMERICAL num-nas:158 (2.27207%) mean:0.0233961 min:0 max:1 sd:0.151158
	12: "VRDeck" NUMERICAL num-nas:144 (2.07075%) mean:296.65 min:0 max:20336 sd:1108.5

CATEGORICAL: 5 (35.7143%)
	3: "Deck" CATEGORICAL has-dict vocab-size:9 num-oods:4 (0.0575209%) most-frequent:"F" 2228 (32.0391%)
	4: "Destination" CATEGORICAL num-nas:153 (2.20017%) has-dict vocab-size:4 zero-ood-items most-frequent:"TRAPPIST-1e" 4694 (69.0193%)
	6: "HomePlanet" CATEGORICAL num-nas:169 (2.43026%) has-dict vocab-size:4 zero-ood-items most-frequent:"Earth" 3673 (54.1341%)
	9: "Side" CATEGORICAL has-dict vocab-size:4 zero-ood-items most-frequent:"S" 3412 (49.0653%)
	13: "__LABEL" CATEGORICAL integerized vocab-size:3 no-ood-item

Terminology:
	nas: Number of non-available (i.e. missing) values.
	ood: Out of dictionary.
	manually-defined: Attribute whose type is manually defined by the user, i.e., the type was not automatically inferred.
	tokenized: The attribute value is obtained through tokenization.
	has-dict: The attribute is attached to a string dictionary e.g. a categorical attribute stored as a string.
	vocab-size: Number of unique values.

I0000 00:00:1750635400.972007      35 kernel.cc:818] Configure learner
I0000 00:00:1750635400.972424      35 kernel.cc:831] Training config:
learner: "GRADIENT_BOOSTED_TREES"
features: "^Age$"
features: "^CabinNum$"
features: "^CryoSleep$"
features: "^Deck$"
features: "^Destination$"
features: "^FoodCourt$"
features: "^HomePlanet$"
features: "^RoomService$"
features: "^ShoppingMall$"
features: "^Side$"
features: "^Spa$"
features: "^VIP$"
features: "^VRDeck$"
label: "^__LABEL$"
task: CLASSIFICATION
random_seed: 42
metadata {
  framework: "TF Keras"
}
pure_serving_model: false
[yggdrasil_decision_forests.model.gradient_boosted_trees.proto.gradient_boosted_trees_config] {
  num_trees: 200
  decision_tree {
    max_depth: 6
    min_examples: 5
    in_split_min_examples_check: true
    keep_non_leaf_label_distribution: true
    num_candidate_attributes: -1
    missing_value_policy: GLOBAL_IMPUTATION
    allow_na_conditions: false
    categorical_set_greedy_forward {
      sampling: 0.1
      max_num_items: -1
      min_item_frequency: 1
    }
    growing_strategy_local {
    }
    categorical {
      cart {
      }
    }
    axis_aligned_split {
    }
    internal {
      sorting_strategy: PRESORTED
    }
    uplift {
      min_examples_in_treatment: 5
      split_score: KULLBACK_LEIBLER
    }
  }
  shrinkage: 0.1
  loss: DEFAULT
  validation_set_ratio: 0.1
  validation_interval_in_trees: 1
  early_stopping: VALIDATION_LOSS_INCREASE
  early_stopping_num_trees_look_ahead: 30
  l2_regularization: 0
  lambda_loss: 1
  mart {
  }
  adapt_subsample_for_maximum_training_duration: false
  l1_regularization: 0
  use_hessian_gain: false
  l2_regularization_categorical: 1
  xe_ndcg {
    ndcg_truncation: 5
  }
  stochastic_gradient_boosting {
    ratio: 1
  }
  apply_link_function: true
  compute_permutation_variable_importance: false
  early_stopping_initial_iteration: 10
}

I0000 00:00:1750635400.972551      35 kernel.cc:834] Deployment config:
cache_path: "/tmp/tmph0_ro_17/working_cache"
num_threads: 4
try_resume_training: true

I0000 00:00:1750635400.972762    3311 kernel.cc:895] Train model

Model trained in 0:00:01.005431
Compiling model...

I0000 00:00:1750635401.917810    3311 early_stopping.cc:54] Early stop of the training because the validation loss does not decrease anymore. Best valid-loss: 0.794082
I0000 00:00:1750635401.925970    3311 kernel.cc:926] Export model in log directory: /tmp/tmph0_ro_17 with prefix 0dfb9c67876c40db
I0000 00:00:1750635401.930153    3311 kernel.cc:944] Save model in resources
I0000 00:00:1750635401.931976      35 abstract_model.cc:914] Model self evaluation:
Task: CLASSIFICATION
Label: __LABEL
Loss (BINOMIAL_LOG_LIKELIHOOD): 0.794082

Accuracy: 0.788301  CI95[W][0 1]
ErrorRate: : 0.211699


Confusion Table:
truth\prediction
     1    2
1  263   87
2   65  303
Total: 718


I0000 00:00:1750635401.966816      35 quick_scorer_extended.cc:922] The binary was compiled without AVX2 support, but your CPU supports it. Enable it for faster model inference.
I0000 00:00:1750635401.967605      35 abstract_model.cc:1404] Engine "GradientBoostedTreesQuickScorerExtended" built

Model compiled.
2/2 [==============================] - 0s 8ms/step - loss: 0.0000e+00

In [162]:
probs = model.predict(test_ds) 
p_transport = probs.squeeze()
preds = (p_transport >= 0.5)

submission = pd.DataFrame({
    "PassengerId": ohe_test["PassengerId"],
    "Transported": preds
})
submission.to_csv("submission.csv", index=False)

5/5 [==============================] - 0s 6ms/step